.aptitude
.bash_aliases
.cache
.claude
.ecryptfs
.fehbg
.gitconfig
.gnupg
.its
.local
.mozilla
.mutt
.pythonhist
.ssh
.surf
.thumbnails
.viminfo
.xprofile
.Xresources

.dropbox*
.steam*
.sudo*

/backup*
/data
/library
/movies
/music
/public*
/tmp*

*authority
*bak
*errors
*hist
*history
*hst
*old
*private
*tmp
