.aptitude
.bash_aliases
.cache
.fehbg
.gitconfig
.its
.mozilla
.mutt
.pythonhist
.ssh
.thumbnails
.xprofile

.dropbox*

.surf/cookies*
.wmii/history*

/backup*
/data
/music
/public*
/tmp*

*authority
*bak
*errors
*hist
*history
*hst
*old
*private
